@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.main-navigation {
  background-color: rgba(32, 10, 33, 0.629);
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items: center;
  flex-direction: column;
  border-radius: 74px;
  background-color: #fff;
  border-radius: 74px;
  background: #fff;
  box-shadow: 333px 97px 97px 0px rgba(0, 0, 0, 0),
    213px 62px 89px 0px rgba(0, 0, 0, 0.01),
    120px 35px 75px 0px rgba(0, 0, 0, 0.05),
    53px 16px 56px 0px rgba(0, 0, 0, 0.09), 13px 4px 31px 0px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.5px);
}
.main-container .logo h1 {
  text-align: center;
  font-size: 28px;
}
.main-navigation h1 {
  color: red;
  margin: 0;
}
.main-navigation ul li {
  color: white;
  padding: 10px;
}
.main-navigation ul li a {
  color: black;
}
.main-navigation ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.title {
  font-size: 64px;
  margin-bottom: 30px;
}
.page-heading {
  font-size: 48px;
  margin-bottom: 30px;
}
.sort-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}
.card-container {
  background-color: #213547;
  color: white;
  margin-bottom: 20px;
}
.sort-controls select {
  border-radius: 8px;
}
body {
  position: relative;
}

#root {
  padding-top: 250px;
  position: relative;
}

.button-type2 {
  border-radius: 40px !important;
  position: relative !important;
  display: inline-flex !important;
  align-items: center !important;
  height: 55px !important;
  align-items: center !important;
  border-radius: 9999px !important;
  padding: 0 44px !important;
  color: white;
  background-color: #2b2b2b;
  cursor: pointer;
}
.button-type2:hover {
  color: white;
}
.button-type2 > * {
  pointer-events: none;
}
.button-type2 .button-bg {
  --tw-bg-opacity: 1;
  background-color: transparent;
}
[data-button-svg] {
  border-style: none;
}
.button-inner {
  pointer-events: none;
  display: block;
  position: relative;
}
.button-primary {
  border: 2px solid #2b2b2b;
  transition: border-color 1s;
}
.button-primary:hover {
  border-color: #ef3fa9;
}
.button-secondary {
  border: 2px solid pink;
}
.button-secondary:hover {
  border-color: pink;
  color: white;
}
.button-inner-hover {
  pointer-events: none;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(70%);
}
.button-inner-static {
  pointer-events: none;
  display: block;
}
.button-bg {
  overflow: hidden;
  border-radius: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: transform 1.8s cubic-bezier(0.19, 1, 0.22, 1);
  display: block;
}
.button-bg-layer {
  display: block;
  border-radius: 9999px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
}
.button-bg-layers {
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: -60%;
  aspect-ratio: 1;
  width: 200%;
}
.button-bg-layer.first {
  --tw-bg-opacity: 1;
  background-color: #4b27a9;
}
.button-bg-layer.second {
  --tw-bg-opacity: 1;
  background-color: #26cad3;
}
.button-bg-layer.third {
  --tw-bg-opacity: 1;
  background-color: #ef3fa9;
}
@media (hover: hover) {
  .button-type2 .button-inner-static {
    transition: transform 1.4s cubic-bezier(0.19, 1, 0.22, 1),
      opacity 0.3s linear;
  }
  .button-type2 .button-inner-hover {
    transition: transform 1.4s cubic-bezier(0.19, 1, 0.22, 1),
      opacity 1.4s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .button-type2 .button-bg-layer {
    transition: transform 1.3s cubic-bezier(0.19, 1, 0.22, 1),
      opacity 0.3s linear;
  }
  .button-type2:hover {
    cursor: pointer;
  }
  .button-type2:hover .button-inner-static {
    opacity: 0;
    transform: translateY(-70%);
    transition: transform 1.4s cubic-bezier(0.19, 1, 0.22, 1),
      opacity 0.3s linear;
  }
  .button-type2:hover .button-inner-hover {
    opacity: 1;
    transform: translateY(0);
    transition: transform 1.4s cubic-bezier(0.19, 1, 0.22, 1),
      opacity 1.4s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .button-type2:hover .button-bg-layer {
    transition: transform 1.3s cubic-bezier(0.19, 1, 0.22, 1),
      opacity 0.3s linear;
  }
  .button-type2:hover .button-bg-layer-1 {
    transform: scale(1);
  }
  .button-type2:hover .button-bg-layer-2 {
    transition-delay: 0.1s;
    transform: scale(1);
  }
  .button-type2:hover .button-bg-layer-3 {
    transition-delay: 0.2s;
    transform: scale(1);
  }
}

.itemCard ul li img {
  width: 350px;
  height: 350px;
  border-radius: 10px;
  list-style-type: none;
}

.logo img {
  max-width: 350px;
  max-height: 100px;
  object-fit: cover;
}

.Header-container {
  flex-wrap: wrap;
}

.form-container {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  align-content: center;
  padding-left: 35%;
}

.main-container {
  max-width: 1280px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.main-container.nav-con {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 1000;
}
.inner-post .post-image {
  margin-top: 30px;
  margin-bottom: 30px;
}
.inner-post p {
  margin-bottom: 10px;
}
.inner-post .comment-adder {
  margin-bottom: 30px;
}

.inner-post .comment-adder input {
  width: 100%;
  margin-bottom: 8px;
  margin-top: 8px;
}

@media (min-width: 768px) {
  .nav-container {
    padding-right: 35px;
  }
  .main-navigation {
    justify-content: space-between;
    flex-direction: row;
  }
  #root {
    padding-top: 150px;
    position: relative;
  }
  .main-container .logo h1 {
    padding-left: 35px;
  }
  .main-navigation ul li {
    padding: 0 10px;
  }
  .main-navigation {
    padding: 20px 10px;
  }
}
